version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whatsapp-api-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev
  tests:
    build: .
    container_name: whatsapp_api_tests
    command: npm test
    volumes:
      - .:/app
    environment:
      - VERIFY_TOKEN=MEUTOKEN
